{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">

<!-- MRB: Code to display a meander or key pattern -->

<style>
.meander {
  width: 100%;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 80'%3E%3Cpath d='M 0 64 H 12 V 16 H 60 V 48 H 44 V 32 H 28 V 64 H 64' fill='none' stroke='%231493ff' stroke-width='8' stroke-linecap='square' stroke-linejoin='miter'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: left center;
  background-size: auto 100%;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #e2e6e8;
  margin-top: -10px;
}

/* Mobile responsiveness */
@media (max-width: 924px) {
  .meander {
    height: 16px;
  }
}
</style>

<div class="meander"></div>

<!-- End custom meander code -->

    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
